<article class="{{ $class }}">
  
  <!-- 1. TITLE -->
  <header class="entry-header">
    <h2 class="entry-hint-parent">
      {{- .Title -}}
    </h2>
  </header>

  <!-- 2. PREVIEW / SUMMARY -->
  {{- if (ne (.Param "hideSummary") true) }}
  <div class="entry-content">
    <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
  </div>
  {{- end }}

  <!-- 3. TAGS -->
  {{- if .Params.tags }}
  <div class="entry-tags" style="margin-top: 10px; display: flex; flex-wrap: wrap; gap: 6px; z-index: 2; position: relative;">
    {{- range .Params.tags }}
    <a href="{{ "tags/" | absURL }}{{ . | urlize }}/" style="font-size: 12px; opacity: 0.75; text-decoration: none; padding: 2px 8px; border-radius: 4px; background: rgba(0, 0, 0, 0.05);">#{{ . }}</a>
    {{- end }}
  </div>
  {{- end }}

  <!-- 4. DATE -->
  {{- if (.Param "ShowPostNavAndMetaData") }}
  <footer class="entry-footer" style="margin-top: 8px;">
    {{- partial "post_meta.html" . -}}
  </footer>
  {{- end }}

  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>